:root {
    --black: #272829;
    --gray: #61677A;
    --gray-light: #D8D9DA;
    --white: #FFF6E0;
    --click: #8F43EE;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Util */
.btn {
    background-color: #FEFBF6;
    padding: 1rem;
    border: 1px solid #000000;
    border-radius: 10px;
    display: block;
    text-align: center;
}
.btn:hover {
    color: #8F43EE;
    cursor: pointer;
}


/* Globales */
body {
    font-size: 1.6rem;
    line-height: 2;
    margin: 0;
    font-family: 'Urbanist', sans-serif;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #000000;
    transition: color .1s ease-out;
}
a:hover {
    color: var(--click);
}

a[href$="@gmail.com"] {
    color: #1B6B93;
    transition: color .1s ease-out;
}
a[href$="@gmail.com"]:hover {
    color: #4FC0D0;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
}

header div {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 0 5rem;
}

header img {
    height: 15rem;
    width: 15rem;
}

header a {
    padding-right: 2rem;
}

header a[href="contacto.html"] {
    padding: 0 2rem;
    background-color: #000000;
    color: white;
}
header a[href="contacto.html"]:hover {
    color: var(--click);
}

/* Cards */
.container-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.cards {
    background-color: var(--black);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.cards p {  
    text-align: center;
    color: #FFFFFF;
}

.cards img {
    width: 20rem;
    height: 20rem;
    padding: 2rem 0 0 0;
    border-radius: 50px;
    object-fit: cover;
}

/* Promotions */
.promotions {
    background-image: url(../media/img/promotions.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 30rem;
    margin: 5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.promotions h2 {
    background-color: #FFFFFF;
    font-size: 5rem;
    border-radius: 14px;
    padding: 2rem;
    cursor: default;
}

/* Slider */
.slider-container {
    width: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider img {
    width: 100%;
    height: auto;
}

/* Footer */
footer {
    background-color: #E1E1E1;
    margin-top: 20rem;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

footer nav {
    display: flex;
    flex-direction: column;
}