<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta Pinta</title>
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="icon" href="../media/img/logo.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,300;0,500;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="contacto.html">Contacte con nosotros</a>
        <div>
            <a href="../index.html"><img src="../../media/img/logo.png" alt="logo Alta Pinta"></a>
            <nav>
                <a href="#prendas">Prendas</a>
                <a href="#accesorios">Accesorios</a>
            </nav>
        </div>
    </header> 

    <section>
        <div class="container">
            <div class="product-view">
                <h2 class="box">Titulo Página</h2>
                <img src="../../media/img/accesorios/amorgato.jpeg" alt="Imagen producto" class="box">
                <p class="box">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, harum tempora eveniet doloribus sit autem dicta quaerat enim magni dignissimos cupiditate illo ipsa voluptatibus quidem unde rerum, esse, cumque nesciunt! Velit saepe eius, dolores adipisci culpa quisquam a quasi dolor ipsam aperiam eum impedit sunt esse ab? Minima, veniam ex.</p>
                <p class="box">1000</p>
                <button class="btn xl box">Agregar al Carrito</button>
            </div>
        </div>
    </section>

    <footer>
        <nav>
            <h2>Productos</h2>
            <a href="#">Ofertas</a>
            <a href="#">Novedades</a>
            <a href="#">Lo más vendidos</a>
        </nav>
        <nav>
            <h2>Nuestra empresa</h2>
            <a href="#">Envio</a>
            <a href="#">Aviso legal</a>
            <a href="#">Términos y condiciones</a>
            <a href="#">Sobre nosotros</a>
            <a href="#">Pago seguro</a>
            <a href="#">Contacte con nosotros</a>
            <a href="#">Mapa del sitio</a>
            <a href="#">Tiendas</a>
        </nav>
        <nav>
            <h2></h2>
        </nav>
        <nav>
            <h2>Información de la tienda</h2>
            <a href="#">AltaPinta</a>
            <a href="#">Colombia</a>
            <a href="#">Envienos un mensaje de correo:</a>
            <a href="mailto:sebastianruizj2014@gmail.com">sebastianruizj2014@gmail.com</a>
            <a href="mailto:juajo2arbe@gmail.com">juajo2arbe@gmail.com</a>
            <a href="mailto:arizajlive@gmail.com">arizajlive@gmail.com</a>
        </nav>
    </footer>
    <script src="../../js/app.js"></script>
</body>
</html>