:root {
    --black: #272829;
    --gray: #61677A;
    --gray-light: #D8D9DA;
    --white: #FFF6E0;
    --click: #8F43EE;
    --border-input: #CCCCCC;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
/* Util */
.container {
    max-width: 120rem;
    margin: 0 auto;
}
.btn {
    background-color: #8F43EE;
    padding: 1rem;
    border: 1px solid #000000;
    border-radius: 10px;
    text-align: center;
    transition: background-color .3s ease-out;
    color: #FFFFFF;
}
.btn:hover {
    background-color: #5c3191;
    cursor: pointer;
    color: #FFFFFF;
}
.xl {
    height: 9rem;
    width: 35rem;
    font-size: 2.4rem;
}
/* Globales */
body {
    font-size: 1.6rem;
    line-height: 2;
    margin: 0;
    font-family: 'Urbanist', sans-serif;
}
img {
    max-width: 100%;
    display: block;
}
a {
    text-decoration: none;
    color: #000000;
    transition: color .1s ease-out;
}
a:hover {
    color: var(--click);
}
a[href$="@gmail.com"] {
    color: #1B6B93;
    transition: color .1s ease-out;
}
a[href$="@gmail.com"]:hover {
    color: #4FC0D0;
}
/* Header */
header {
    display: flex;
    flex-direction: column;
}
header div {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 0 5rem;
}
header img {
    height: 15rem;
    width: 15rem;
}
header a {
    padding-right: 2rem;
}
header a[href$="contacto.html"] {
    padding: 0 2rem;
    background-color: #000000;
    color: white;
}
header a[href$="contacto.html"]:hover {
    color: var(--click);
}
/* Cards */
.container-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}
.cards {
    background-color: var(--black);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}
.cards p {  
    text-align: center;
    color: #FFFFFF;
}
.cards img {
    width: 20rem;
    height: 20rem;
    padding: 2rem 0 0 0;
    border-radius: 50px;
    object-fit: cover;
}
/* Banner */
.banner {
    display: flex;
    justify-content: center;
    margin: 10rem 0;
}
/* Promotions */
.promotions {
    background-image: url(../img/promotions.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 30rem;
    margin: 5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.promotions h2 {
    background-color: #FFFFFF;
    font-size: 5rem;
    border-radius: 14px;
    padding: 2rem;
    cursor: default;
}
/* Slider */
.slider-container {
    width: 100%;
    overflow: hidden;
}
.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slider img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
/* Footer */
footer {
    background-color: #E1E1E1;
    margin-top: 7rem;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}
footer nav {
    display: flex;
    flex-direction: column;
}
/* Página ver Producto */
.product-view {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    gap: 2.5rem;
}
.product-view h2 {
    font-size: 3rem;
    margin: 0;
    grid-column: 1 / 4;
}
.product-view .div-img {
    grid-column: 1 / 3;
    grid-row: 2 / 5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}
.product-view .div-img img{
    height: 30rem;
    width: 30rem;
    border-radius: 20px;
    object-fit: cover;
}
.product-view .description {
    grid-column: 3 / 4;
}
.product-view .price {
    grid-column: 3 / 4;
    font-size: 3.5rem;
    margin: 0;
    font-weight: 900;
    background-color: var(--black);
    color: white;
    border-radius: 40px;
    width: 20rem;
    text-align: center;
    padding: 1rem;
}
.product-view button {
    grid-column: 3 / 4;
}
/* Contacta con nosotros */
.form-contact {
    max-width: 80rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 1rem;
}
.form-contact h2,
.form-contact .field:nth-child(6),
.form-contact .field:nth-child(7),
.form-contact button[type="submit"] {
    grid-column: 1 / 3;
}
.form-contact h2,
.form-contact button[type="submit"] {
    justify-self: center;
}
.form-contact button[type="submit"] {
    width: 30rem;
    height: 4rem;
}
.field {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}
.field input,
.field textarea {
    border: 1px solid var(--border-input);
}
.field input {
    height: 3rem;
}