<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta Pinta</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="icon" href="../media/img/logo.jpeg" type="image/x-icon">
</head>
<body>
    <header>
        <a href="contacto.html">Contacte con nosotros</a>
        <a href="index.html"><img src="../media/img/logo.jpeg" alt="logo Alta Pinta"></a>
        <h1>Alta Pinta</h1>
        <nav>
            <a href="#">Prendas</a>
            <a href="#">Accesorios</a>
        </nav>
    </header>

    <div>
        <h2>Titulo de la página</h2>
    </div>

    <footer>
        <nav>
            <h2>Productos</h2>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
        </nav>
        <nav>
            <h2>Nuestra empresa</h2>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
        </nav>
        <nav>
            <h2></h2>
        </nav>
        <nav>
            <h2>Información de la tienda</h2>
        </nav>
    </footer>
    <script src="../js/app.js"></script>
</body>
</html>